docs/n8n_workflows/JARVIS WEBHOOK TEST FOR CUSTOM APP.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4bed7e4e-041a-4f19-b736-d320250a50ca",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -176,
        112
      ],
      "id": "8cef3473-2525-41c8-ae78-1f29549e0249",
      "name": "Webhook1",
      "webhookId": "4bed7e4e-041a-4f19-b736-d320250a50ca"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "Voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2cc375d4-9421-4b39-bdab-06bc49b0c725"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "Text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "653d29c4-04c6-406c-a956-6fe4ddb6b4f1",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "Photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a555782f-bbae-4c16-8e20-a93c5adbf317",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "994e28aa-3df4-4e8a-93c9-1924afe3b031",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "Document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {}
      },
      "id": "95e16087-9736-4e83-8a34-09ff929da018",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        256,
        64
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "2c783dcc-4375-4c9a-a189-5b0eb2fb8a90",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        816,
        -224
      ],
      "credentials": {
        "openAiApi": {
          "id": "FAioNwMmasg9j9f7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.audioUrl}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -224
      ],
      "id": "795ea498-eb39-43c3-b5df-22d336e61de8",
      "name": "Download Voice File.1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5d33cdd-579e-4af9-addb-a4994d62bfbb",
              "name": "body.type",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "da150c6d-1035-4b84-948b-62497eb37b90",
              "name": "body.source",
              "value": "={{ $json.body.source }}",
              "type": "string"
            },
            {
              "id": "6cb2c434-189a-437d-be37-e194a1f5ab12",
              "name": "body.chatId",
              "value": "={{ $json.body.chatId }}",
              "type": "number"
            },
            {
              "id": "cb398220-9224-413f-a1e8-bd6ac9e65d25",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "1cf51c66-82bb-4659-84e0-038829194079",
              "name": "UUID",
              "value": "={{ $json.UUID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5a9e2251-da03-4327-b32d-fb43bb74b7a0",
      "name": "Set 'Text'.1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -64
      ]
    },
    {
      "parameters": {
        "url": "={{$json.imageUrl}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        112
      ],
      "id": "1cf833db-eb11-43a2-a69c-62b3902acebd",
      "name": "Download Photo1"
    },
    {
      "parameters": {
        "url": "={{$json.videoUrl}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        272
      ],
      "id": "2787cac6-93eb-4175-a829-60d3eefbcaf5",
      "name": "Download Video1"
    },
    {
      "parameters": {
        "url": "={{$json.documentUrl}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        432
      ],
      "id": "71f24267-27b9-49b0-8db4-4f37ac24c309",
      "name": "Download Document1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n\n{{ $json.UUID }}",
        "options": {
          "systemMessage": "You are JARVIS, the digital assistant for MADPANDA3D’s automation workflow. \nYour job is to assist with all incoming tasks, keep track of file uploads, and help the user with anything related to messages, files, and data processed through this system.\n\nadress the user as Mr. Lara and never refer to yourself as an AI assistant you are to mimic the witty charm of JARVIS from iron man\n\nadd this {{ $json.body.sessionId }} to the end of your message like this \n\"hello \n\n{{ $json.body.sessionId }}\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1728,
        112
      ],
      "id": "f3109b54-1c04-411f-a0f0-c873460f8188",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Upload Photo\"].json.id }}\n",
          "mode": "id"
        },
        "permissionsUi": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        112
      ],
      "id": "175e37dc-b2b2-44e3-a71b-66212b0c03c0",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FoGFhCpBxNQvsTCo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FhgvhwK7MJKZFVSvqbi0OHEFaJbV0kEF29RQtetKzU4",
          "mode": "list",
          "cachedResultName": "PHOTOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FhgvhwK7MJKZFVSvqbi0OHEFaJbV0kEF29RQtetKzU4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 808503049,
          "mode": "list",
          "cachedResultName": "PHOTOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FhgvhwK7MJKZFVSvqbi0OHEFaJbV0kEF29RQtetKzU4/edit#gid=808503049"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Type": "Photo",
            "File Name": "={{ $node[\"Upload Photo\"].json.name }}\n",
            "Google Drive Link": "={{ $node[\"Share file\"].json.webViewLink }}\n",
            "Original URL": "={{ $json.imageUrl }}\n",
            "Uploader": "LEOLARA@MADPANDA3D.COM",
            "Notes": "Automated upload via n8n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google Drive Link",
              "displayName": "Google Drive Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Original URL",
              "displayName": "Original URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uploader",
              "displayName": "Uploader",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        112
      ],
      "id": "9bffb440-bb87-43a5-9f19-395acd2b5de3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZgY28DOVOewmYtbR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ac72e01-b339-4032-bebb-4c1bd29edea9",
              "name": "agent_summary",
              "value": "=Photo received from Leo.\nCaption: \"{{ $json.text_message || 'No caption provided' }}\".\nDrive link: {{ $node[\"Share file\"].json.webViewLink }}.\nFile name: {{ $node[\"Upload Photo\"].json.name }}.\nLogged at: {{ $now }}.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        112
      ],
      "id": "2c55c353-0646-4759-97e0-7756f4489fca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1728,
        304
      ],
      "id": "a114b964-7da0-480c-9b23-981ef9f38da0",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "XKPQ4qDDL5uIpBwL",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2608,
        704
      ],
      "id": "3cfd3585-93d4-4895-8cec-0e99d1a90813",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Upload Video\"].json.id }}\n",
          "mode": "id"
        },
        "permissionsUi": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        272
      ],
      "id": "3eade03c-15dc-44b7-8d32-9b683b0e88dc",
      "name": "Share file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FoGFhCpBxNQvsTCo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16WN2MHWkeLdAMqSez4t3qkm_ZhaqJ4M4rm22CKzz3FY",
          "mode": "list",
          "cachedResultName": "VIDEOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16WN2MHWkeLdAMqSez4t3qkm_ZhaqJ4M4rm22CKzz3FY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 26748643,
          "mode": "list",
          "cachedResultName": "VIDEOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16WN2MHWkeLdAMqSez4t3qkm_ZhaqJ4M4rm22CKzz3FY/edit#gid=26748643"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Type": "Video",
            "File Name": "={{ $node[\"Upload Video\"].json.name }}\n",
            "Google Drive Link": "={{ $node[\"Share file1\"].json.webViewLink }}\n",
            "Original URL": "={{ $json.imageUrl }}\n",
            "Uploader": "LEOLARA@MADPANDA3D.COM",
            "Notes": "Automated upload via n8n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google Drive Link",
              "displayName": "Google Drive Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Original URL",
              "displayName": "Original URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uploader",
              "displayName": "Uploader",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        272
      ],
      "id": "db72b6c2-c2cd-42a0-a49d-106383cf55aa",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZgY28DOVOewmYtbR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ac72e01-b339-4032-bebb-4c1bd29edea9",
              "name": "agent_summary",
              "value": "=Photo received from Leo.\nCaption: \"{{ $json.text_message || 'No caption provided' }}\".\nDrive link: {{ $node[\"Share file1\"].json.webViewLink }}.\nFile name: {{ $node[\"Upload Video\"].json.name }}.\nLogged at: {{ $now }}.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        272
      ],
      "id": "54980ace-1d3f-430e-9b4a-786d1f358176",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Upload Doc\"].json.id }}\n",
          "mode": "id"
        },
        "permissionsUi": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        432
      ],
      "id": "6bba8fc7-ea17-4bd7-8881-5fbc0f8fcd83",
      "name": "Share file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FoGFhCpBxNQvsTCo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14U7UwR2nVwqoOVjnuQi4DfTWvmqOIakbEfUtDKyMFIc",
          "mode": "list",
          "cachedResultName": "DOCUMENTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14U7UwR2nVwqoOVjnuQi4DfTWvmqOIakbEfUtDKyMFIc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1998266510,
          "mode": "list",
          "cachedResultName": "DOCUMENTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14U7UwR2nVwqoOVjnuQi4DfTWvmqOIakbEfUtDKyMFIc/edit#gid=1998266510"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Type": "Document",
            "File Name": "={{ $node[\"Upload Doc\"].json.name }}\n",
            "Google Drive Link": "={{ $node[\"Share file2\"].json.webViewLink }}\n",
            "Original URL": "={{ $json.imageUrl }}\n",
            "Uploader": "LEOLARA@MADPANDA3D.COM",
            "Notes": "Automated upload via n8n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google Drive Link",
              "displayName": "Google Drive Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Original URL",
              "displayName": "Original URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uploader",
              "displayName": "Uploader",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        432
      ],
      "id": "d2eb4e65-194c-4237-b3e4-5fa8b9e4e97f",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZgY28DOVOewmYtbR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ac72e01-b339-4032-bebb-4c1bd29edea9",
              "name": "agent_summary",
              "value": "=Photo received from Leo.\nCaption: \"{{ $json.text_message || 'No caption provided' }}\".\nDrive link: {{ $node[\"Share file2\"].json.webViewLink }}.\nFile name: {{ $node[\"Upload Doc\"].json.name }}.\nLogged at: {{ $now }}.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        432
      ],
      "id": "ae22460a-0929-4469-8547-74bbf29b02e5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "name": "={{$json.fileName}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/3/folders/12Lc840uQNqSigmasniPOxwBtpG6YK4a4",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        272
      ],
      "id": "ea4d0390-b5f3-4981-b37f-038636507149",
      "name": "Upload Video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FoGFhCpBxNQvsTCo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{$json.fileName}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/3/folders/16But60dgz3XZo7mNvlBX2r0COz2Dgvys",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        112
      ],
      "id": "91d3b663-5981-4a32-afe0-db4834df7783",
      "name": "Upload Photo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FoGFhCpBxNQvsTCo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{$json.fileName}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/3/folders/18V7k8kZmfm5BQLPuZGG_qlN9Rj-BOH4i",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        432
      ],
      "id": "5e37d04d-6c57-4dd0-9aab-7d1d367104b1",
      "name": "Upload Doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FoGFhCpBxNQvsTCo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2880,
        128
      ],
      "id": "47580ea4-d6a5-4780-ba17-630cf9a80cdf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.UUID }}",
        "tableName": "messages",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1856,
        304
      ],
      "id": "43d9db5f-9bb5-459d-8a78-b878f1bded5a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rNY4ny1H9tAhRFQA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "UUID"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        48,
        112
      ],
      "id": "0ea37c43-3266-4512-b1a4-365b0b36bb42",
      "name": "Crypto"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "KEDa3Ed4RdL1BYzSjsxw",
          "mode": "list",
          "cachedResultName": "JARVIS 2 "
        },
        "text": "={{ $json.body.message }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        2496,
        -16
      ],
      "id": "0923fc0f-2fe3-432b-be93-5d909a7a72e3",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "FVibnEIkkpq1yuU5",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4680c93f-003e-46eb-9879-869395594527",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "voice",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2128,
        112
      ],
      "id": "18f762c9-5fae-47d9-b087-8d10e48ce5d2",
      "name": "If"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "n8n.madpanda3d.com",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "34.53.75.125",
            "x-real-ip": "34.53.75.125",
            "content-length": "164",
            "content-type": "application/json",
            "user-agent": "JARVIS-Interface/1.0",
            "x-request-id": "8hev7",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "accept-encoding": "br, gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "Text",
            "message": "Hello",
            "sessionId": "session_1753180362889_7u1me4",
            "source": "webapp",
            "timestamp": "2025-07-22T10:35:43.087Z",
            "requestId": "8hev7",
            "chatId": 1
          },
          "webhookUrl": "https://n8n.madpanda3d.com/webhook-test/4bed7e4e-041a-4f19-b736-d320250a50ca",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Voice File.1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set 'Text'.1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Photo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Video1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File.1": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'.1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Photo1": {
      "main": [
        [
          {
            "node": "Upload Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Share file1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file2": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video1": {
      "main": [
        [
          {
            "node": "Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document1": {
      "main": [
        [
          {
            "node": "Upload Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video": {
      "main": [
        [
          {
            "node": "Share file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Photo": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Doc": {
      "main": [
        [
          {
            "node": "Share file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eed6d830-3cb2-49d6-9e1e-007b4419c48e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68a46beddbb9d9f12628b915d20fde7f29150dcbc35430946a93fb6a6da688c2"
  },
  "id": "9zk5PVvzz6X5pxMA",
  "tags": []
}