docs/n8n_workflows/N8N_Self_Management_Webhook.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n-management",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "48c185f3-e9b3-439f-b242-931dcecc12ee",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2688,
        -256
      ],
      "webhookId": "df4858f1-6ab7-4a50-9540-3590288720d9",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "action-extract",
              "name": "action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "data-extract",
              "name": "data",
              "value": "={{ $json.body.data }}",
              "type": "object"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "webhook-info",
              "name": "webhookInfo",
              "value": "={{ {\"method\": $json.method, \"path\": $json.path, \"headers\": $json.headers} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "153e7516-8587-492b-8639-9cb28626f5f6",
      "name": "Data Preparation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2288,
        -256
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update_workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete_workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "activate_workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "activate_workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "deactivate_workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deactivate_workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_executions",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_executions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete_execution",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_execution"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_credential",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_credential"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete_credential",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_credential"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "generate_audit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generate_audit"
            }
          ]
        },
        "options": {}
      },
      "id": "8e79ec6c-b832-41fd-ae69-74650fc5e254",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1856,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.data.workflow }}",
        "requestOptions": {}
      },
      "id": "76ca2235-abf3-4ded-8b3c-c293336992c6",
      "name": "Create Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        -1088
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.workflowId }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "b30bb4a7-a999-4c01-845c-06662afdc295",
      "name": "Get Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        -912
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.workflowId }}",
          "mode": "id"
        },
        "workflowObject": "={{ $json.data.workflow }}",
        "requestOptions": {}
      },
      "id": "d030683f-fc48-4576-b268-2af82de6b42e",
      "name": "Update Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        -720
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.workflowId }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "937954e3-7646-4714-94c1-4bca0c9926af",
      "name": "Delete Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        -528
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "activate",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.workflowId }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "8c17f13b-9173-4b89-bae6-502fd1fefcf2",
      "name": "Activate Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        -368
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "deactivate",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.workflowId }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "id": "1c476de8-1a39-4ebc-88b7-db73f5007ab3",
      "name": "Deactivate Workflow",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        -192
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "execution",
        "limit": "={{ $json.data.limit || 100 }}",
        "filters": {
          "workflowId": "={{ $json.data.workflowId || '' }}"
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "26999ac7-7cd1-4aef-8302-6e403730df6a",
      "name": "Get Executions",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        -16
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "execution",
        "operation": "delete",
        "executionId": "={{ $json.data.executionId }}",
        "requestOptions": {}
      },
      "id": "9ca551b4-9348-4526-873c-8d2733ae4b22",
      "name": "Delete Execution",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        144
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "credential",
        "name": "={{ $json.data.name }}",
        "credentialTypeName": "={{ $json.data.credentialTypeName }}",
        "data": "={{ $json.data.credentialData }}",
        "requestOptions": {}
      },
      "id": "e9545007-e2e9-467c-86e2-f132c62a5067",
      "name": "Create Credential",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        304
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "credential",
        "operation": "delete",
        "credentialId": "={{ $json.data.credentialId }}",
        "requestOptions": {}
      },
      "id": "67001abc-c743-423c-8c33-14f9e03905bf",
      "name": "Delete Credential",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        464
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "audit",
        "operation": "generate",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "id": "b1726e42-92bc-46ac-93c1-dcbb226c824b",
      "name": "Generate Audit",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        624
      ],
      "credentials": {
        "n8nApi": {
          "id": "eHdd0k6WvGVaMz9k",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-response",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "action-response",
              "name": "action",
              "value": "={{ $('Data Preparation').item.json.action }}",
              "type": "string"
            },
            {
              "id": "timestamp-response",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "data-response",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "message-response",
              "name": "message",
              "value": "Action completed successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e91b4685-8834-457a-aa99-b26a6dea167e",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-response",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error-action",
              "name": "action",
              "value": "={{ $('Data Preparation').item.json.action }}",
              "type": "string"
            },
            {
              "id": "error-timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "error-message",
              "name": "error",
              "value": "={{ $json.error || 'Unknown error occurred' }}",
              "type": "string"
            },
            {
              "id": "error-details",
              "name": "details",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "4ad78de0-9260-40f7-b258-a50fc893067e",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6d1235c-89a4-4ee3-a354-000db489d048",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        -304
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Data Preparation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Preparation": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Create Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Activate Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deactivate Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Executions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Execution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Credential",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Credential",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Workflow": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Workflow": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deactivate Workflow": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Executions": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Execution": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Credential": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Credential": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audit": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68a46beddbb9d9f12628b915d20fde7f29150dcbc35430946a93fb6a6da688c2"
  }
}